@font-face {
    font-family: "Alvi";
    src: url(../font/urdu/Alvi-Nastaleeq-Regular.ttf);
}

@font-face {
    font-family: "Jameel-Kasheeda";
    src: url(../font/urdu/Jameel-Noori-Nastaleeq-Kasheeda.ttf);
}

@font-face {
    font-family: "Jameel-Regular";
    src: url(../font/urdu/Jameel-Noori-Nastaleeq-Regular.ttf);
}

@font-face {
    font-family: "Nafees";
    src: url(../font/urdu/Nafees-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../font/inter/Inter-Regular.ttf);
}

body {
    background-color: #f5f5f9d5 !important;
}
.card {
    box-shadow: rgba(89, 89, 89, 0.24) 0px 2px 4px !important;
 
}

.error-border{
    border: 1px solid red !important;
}
/* 
================================================
=============== All Complete Css ===============
================================================
*/

/* Hide spinner for number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}


/* 
==========================================
=============== Login Form ===============
==========================================
*/


.fixed-header {
    background-color: #F5F5F9 !important;
}

.alvi {
    font-family: "Alvi";
    font-weight: 600;
}

.nafees {
    font-family: "Nafees";
    font-weight: 600;
}


.jameel-kasheeda {
    font-family: "Jameel-Kasheeda";
    font-weight: 600;
}

.jameel-regular {
    font-family: "Jameel-Regular";
    font-weight: 600;
}

.inter {
    font-family: "Inter";
    font-weight: bold;
}

.word-spacing-2px {
    word-spacing: 2px;
}

.word-spacing-4px {
    word-spacing: 4px;
}

.word-spacing-6px {
    word-spacing: 6px;
}

.button {
    border-radius: 6px;
    background: none;
    border-color: #5D87FF;
    color: #5D87FF;
    border-width: 1px;
    word-spacing: 3px;
    padding: 6px 20px;
}

.button:hover {
    color: white;
    outline: none;
    border: none;
    background-color: #5D87FF;
    padding: 7px 20px;
}

.scroll-bar {
    height: 370px;
    overflow: auto;
}

/* Set the width and height of the scrollbar */
.scroll-bar::-webkit-scrollbar {
    width: 6px;
    height: 2px;
}

/* Track */
.scroll-bar::-webkit-scrollbar-track {
    background-color: transparent;

}

/* Handle */
.scroll-bar::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}

/* Handle on hover */
.scroll-bar::-webkit-scrollbar-thumb:hover {
    background-color: #BFBFBF;
}